<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="styles.css"
</head>
<body>
  <div>
      Video: <select id="camera"></select>
    </div>
  <video autoplay></video>
  <script>
  var videoArea = document.querySelector("video");
  var videoSelect = document.querySelecto('#camera');

  startStream();
  function startStream() {
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
    var constraints = {
        audio: false,
        video: {
            mandatory: {
                maxWidth: 640,
                maxHeight: 360,
                minHeight: 360,
                maxHeight: 640
            }
        }
    };
    navigator.getUserMedia(constraints, onSuccess, onError);
  }
//then we define the success and error functions.
    function onSuccess(stream){
      console.log("succdess!");
//here we are tying the video HTML element to our video stream. (Creating an object URL to pass our stream into and assigning that to our HTML video area, then we play it.)
      videoArea.src = window.URL.createObjectURL(stream);
      videoArea.className = "grayscale_filter";
      videoArea.play();
    }

    function onError(error) {
      console.log("Error with get", error)
    }
  </script>

</body>
</html>
